[Unit]
Description=MagicstompSwitcher
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="QT_QPA_FB_NO_LIBINPUT=1"
ExecStart=/usr/local/bin/MagicstompSwitcher -platform linuxfb:fb=/dev/fb1 -plugin tslib
KillMode=process
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
